html{
	color: #0E0E0E;
}
h1,h2,h3,h4{
	font-family: sans-serif;
}

p{
	line-height: 1.4em;
}
h2{
	color: #616161;
}
h3{
	color: #B71A1A;
}

body{
	margin: 0;
}
main{
	max-width: 700px;
	margin: 0 auto;
	width: 90%;
}
header{
	background-color: #F3F3F3;
}
header h1{
	padding: 20px 0;
	color: #3377B1;
}
header .course-title{
	font-size: 18px;
	color: #6B6B6B;
	margin-left: 5px;
}
.header-inner{
	max-width: 700px;
	margin: 0 auto;
	width: 90%;
}